# Entorno virtual Python — NUNCA subir
.venv/

# Variables con contraseñas reales
.env

# Datos locales
surreal_data/
notebook_data/

# Backups
*.tar.gz

# Bytecode Python
__pycache__/
*.pyc

# Dependencias Node
node_modules/