OPEN_NOTEBOOK_ENCRYPTION_KEY=change-this-secret
SURREAL_URL=ws://surrealdb:8000/rpc
SURREAL_USER=root
SURREAL_PASSWORD=root
SURREAL_NAMESPACE=open_notebook
SURREAL_DATABASE=open_notebook

OLLAMA_API_BASE=http://host.docker.internal:11434
OPENAI_COMPATIBLE_BASE_URL=
OPENAI_COMPATIBLE_API_KEY=
